@using DiplomaApp.Areas.Identity.Models
@model RegisterViewModel

 @{
     Layout = "_Layout";
 }

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <br/>
    <div class="container-md align-content-md-center">
        <dic class="row">
    <div class="col-2">
        <label>LastName</label>
    </div>
    <div class="col-10 pb-3">
        @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Martin" })
    </div>
    <br/>

    <div class="col-2">
        <label>Email</label>
    </div>
    <div class="col-10 pb-3">
        @Html.TextBoxFor(x => x.Email, new { @type = "email", @placeholder = "sssss@gmail.com" })
    </div>

    <br/>
    <div class="form-group">
        <label>FirstName</label>
        @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Bob" })
    </div>
    <br/>

    <div class="form-group">
        <label>PhoneNumber</label>
        @Html.TextBoxFor(x => x.PhoneNumber, new { @type = "tel" })
    </div>

    <br/>
    <div class="form-group">

        @Html.DropDownListFor(m => m.RoleName, new List<SelectListItem>
        {
            new SelectListItem { Text = "Refugee", Value = "Refugee" },
            new SelectListItem { Text = "Volunteer", Value = "Volunteer" }
        }, "Please select", new { id = "drop", @class = "form-control" })
    </div>
    <br/>

    <div class="form-group">
        <label>Password</label>
        @Html.TextBoxFor(x => x.Password, new { @type = "password" })
    </div>

    <br/>

    <input type="submit" value="Register" class="btn btn-success"/>
    </div>
    </div>

    </form>
